.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: white;
}

.header__logo{
    width: 80px;
    object-fit: contain;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__tap{
    margin-left: 20px;
}